.image {
    width: 100px;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

figcaption {
    text-align: center;
    width: 100px;
    overflow-wrap: break-word;
}

.active {
    width: auto;
    object-fit: contain;
}

.image-container {
    display: flex;
    width: fit-content;
}